header{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand i {
    font-size: 45px;
    color: green;
}

.navbar-brand span{
    font-size: 30px;
}

.navbar-nav .nav-item{
    margin: 0 10px;
}

.navbar-nav .nav-item::after{
    content: "";
    width: 100%;
    display: block;
    height: 5px;
    background-color: green;
    transition: 0.5s;
}

.navbar-nav .nav-item.active::after{
    width: 100%;
}

.navbar-nav .nav-item.active:hover:after{
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link{
    color: green;
}

/* Carousel */
.carousel-item{
    height: 700px;
    background-position: center;
    background-size: cover;
}

.carousel-item:nth-child(1){
    background-image: url(./image/01-3.jpg);
}

.carousel-item:nth-child(2){
    background-image: url(./image/mountains.jpg);
}

.carousel-item:nth-child(3){
    background-image: url(./image/mountains-1.jpg);
}
